@use "./design-tokens/breakpoints";

body {
  font-size: var(--s-400);
  line-height: var(--lh-regular);
  font-family: var(--ff-sans);
  font-weight: var(--fw-medium);
  color: var(--color-text-primary);
  @include breakpoints.md {
    font-weight: var(--fw-regular);
  }
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-weight: var(--fw-extraBold);
  line-height: var(--lh-tight);
}

h1.major,
.h1.major {
  font-size: var(--s-800);
  font-weight: var(--fw-extraBold);
  @include breakpoints.md {
    font-size: var(--s-900);
  }
}

h1,
.h1 {
  font-weight: var(--fw-extraBold);
  font-size: var(--s-700);
  --flow-space: var(--s-800);
}

h2,
.h2 {
  font-size: var(--s-700);
  line-height: var(--lh-tight);
  --flow-space: var(--s-800);
}

h3,
.h3 {
  font-size: var(--step-4);
  --flow-space: var(--s-900);
}

h4,
.h4 {
  font-size: var(--step-2);
  --flow-space: var(--s-900);
}

p {
  color: var(--color-text-secondary);
}
